<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Matthew Hiscocks</title>
</head>
<body>
    {{template "header"}}

    <div class="content">
        <section id="welcome" class="chapter">
            <div class="welcome-content">
                <div class="welcome-text">
                    <div class = intro-text>
                        <p>
                            Hi, my name is
                        </p>
                    </div>
                    <div class="section-title">
                        <h2>Matthew Hiscocks</h2>
                    </div>
                </div>
                <div class="welcome-image">
                    <div>
                        <img src="/images/headshot.jpg" alt="headshot" width="200" height="200">
                </div>
            </div>

            
        </section>
        <section id="about" class="chapter">
            <div class="section-title">
                <p>About Me</p>
        </section>
        <section id="projects" class="chapter">
            <div class="chapter-content">
                <div>
                    <h2 class="my-projects-title">
                        My Personal Projects
                
                    </h2>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="project">
                            <header>
                                <h3 class="project-title">
                                    Neural Networks From Scratch
                                </h3>
                                <p class="project-description">
                                    Classifying digits using deep learning written only the standard library.
                                </p>
                            </header>
                            <footer class="project-footer">
                                <ul class="project-tech-list">
                                    <li>C++</li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="project">
                            <header>
                            <h3 class="project-title">
                                Mandlebrot Renderer
                            </h3>
                            <p class="project-description">
                                Rendering the Mandlebrot Fractal using parallel threads.
                            </p>
                            </header>
                        <footer>
                            <ul class="project-tech-list">
                                <li>C++</li>
                                <li>Python</li>
                            </ul>
                        </footer>
                        </div>
                        
                        </div>
                    <div class="grid-item">
                        <div class="project">
                            <header>
                            <h3 class="project-title">
                                Cycle Navigation App
                            </h3>
                            <p class="project-description">
                                An navigation app to allow cyclists to prioritise safety or speed.                            
                            </p>
                            </header>
                            <footer>
                                <ul class="project-tech-list">
                                    <li>Python</li>
                                    <li>Flask</li>
                                    <li>Javascript</li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="project">
                            <header>
                                <h3 class="project-title">
                                    Advent of Code
                                </h3>
                                <p class="project-description">
                                    A different coding challenge for every day of advent.
                                </p>
                            </header>
                            <footer>
                                <ul class="project-tech-list">
                                    <li>Python</li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="project">
                            <header>
                                <h3 class="project-title">
                                    Chess Engine
                                </h3>
                                <p class="project-description">
                                    A chess engine using the minimax algorithm with alpha-beta pruning.
                                </p>
                            </header>
                            <footer>
                                <ul class="project-tech-list">
                                    <li>Python</li>
                                    <li>Javascript</li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="project">
                            <header>
                                <h3 class="project-title">
                                    Arduino Quadcopter
                                </h3>
                                <p class="project-description">
                                    Flight Controller for a homemade quadcopter.
                                </p>
                            </header>
                            <footer>
                                <ul class="project-tech-list">
                                    <li>C++</li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                </div>
        </section>
        </div>
    </div>
    
</body>
</html>